<div class="container">
    <div class="row">

        <div class="col-sm-3 p-3 rounded @(EDS.DrugNameIsValid ? "" : "alert-danger")">
            <label>
                <strong>Drug Name</strong>
                <input type="text" class="form-control" @bind="EDS.DrugName" @bind:event="oninput" />
            </label>
        </div>

        <div class="col-sm-3 p-3 rounded @(EDS.MolecularWeightIsValid ? "" : "alert-danger")">
            <label>
                <strong>Molecular Weight (g/mol)</strong>
                <input type="text" class="form-control" @bind="EDS.MolecularWeight" @bind:event="oninput" />
                <small class="text-muted">Use value on the container</small>
            </label>
        </div>

        <div class="col-sm-3 p-3 rounded @(EDS.MassIsValid ? "" : "alert-danger")">
            <label>
                <strong>Mass (mg)</strong>
                <input type="text" class="form-control" @bind="EDS.Mass" @bind:event="oninput" />
                <small class="text-muted">Try to use the whole container</small>
            </label>
        </div>

        <div class="col-sm-3 p-3 rounded @(EDS.SolventIsValid ? "" : "alert-danger")">
            <label>
                <strong>Solvent</strong>
                <select class="form-control" @bind="EDS.Solvent" @bind:event="oninput">
                    @foreach (var solvent in EDS.Solvents)
                    {
                        <option value="@solvent">@solvent</option>
                    }
                </select>
            </label>
        </div>

        <div class="col-sm-3 p-3 rounded @(EDS.StockConcentrationIsValid ? "" : "alert-danger")">
            <label>
                <strong>Stock (mM)</strong>
                <input type="text" class="form-control" @bind="EDS.StockConcentration" @bind:event="oninput" />
                <small class="text-muted">Approximate solubility limit</small>
            </label>
        </div>

        <div class="col-sm-3 p-3 rounded @(EDS.BathConcentrationIsValid ? "" : "alert-danger")">
            <label class="align-items-center">
                <strong>Bath (µM)</strong>
                <input type="text" class="form-control" @bind="EDS.BathConcentration" @bind:event="oninput" />
                <small class="text-muted">Effective concentration in ACSF</small>
            </label>
        </div>

    </div>
</div>

@code {
    [Inject]
    private Services.ExperimentDesignService EDS { get; set; }

    protected override void OnInitialized()
    {
        EDS.LoadDefaults();
    }
}
