@page "/"
@using System.Text;
@using AliCalc.Model;

<style>
    .gridForm {
        display: flex;
        flex-wrap: wrap;
    }

        .gridForm div {
            background-color: #EEE;
            padding: .5em;
            margin: .5em;
        }
</style>

<AliquotInput/>

<hr />

<form class="gridForm" action="" @onsubmit="Calculate">
    <div>
        <label for="drugName">Name:</label><br />
        <input type="text" id="drugName" @bind-value=inputDrugName @bind-value:event="oninput">
    </div>

    <div>
        <label for="mw">Molecular Weight (g/mol):</label><br />
        <input type="text" id="mw" @bind-value="inputMW" @bind-value:event="oninput">
    </div>

    <div>
        <label for="mass">Mass (mg):</label><br />
        <input type="text" id="mass" @bind-value="inputMassMG" @bind-value:event="oninput">
    </div>

    <div>
        <label for="solute">Soluble in:</label><br />
        <select id="solute" @bind=inputSolvent>
            @foreach (var solvent in inputSolvents)
            {
                <option value=@solvent>@solvent</option>
            }
        </select>
    </div>

    <div>
        <label for="stockConc">Stock Solution (mM):</label><br />
        <input type="text" id="stockConc" @bind-value="inputStockMM" @bind-value:event="oninput"><br />
        <i style="font-size: .8em;">Near maximum solbuility</i>
    </div>

    <div>
        <label for="bathConc">Bath Concentration (µM):</label><br />
        <input type="text" id="bathConc" @bind-value="inputBathUM" @bind-value:event="oninput"><br />
        <i style="font-size: .8em;">Effective concentration in ACSF</i>
    </div>

    <div style="display: flex; align-items: center; background-color: white;">
        <button style="min-height: 50%;">CALCULATE</button>
    </div>

</form>

<ul style="line-height: 200%;">
    <li><b>Make stock:</b> @outputMakeStock</li>
    <li><b>Aliquot:</b> @outputMakeAliquots</li>
    <li><b>Syringe:</b> @outputSyringe</li>
    <li><b>Bath:</b> @outputBath</li>
</ul>

@foreach (int i in Enumerable.Range(0, aliquotImageCount))
{
    <img src="aliquot.png" />
}

@code{
    private string inputDrugName = "picrotoxin";
    private string inputMW = "602.59";
    private string inputMassMG = "1000";
    private string[] inputSolvents = { "water", "DMSO" };
    private string inputSolvent = "water";
    private string inputStockMM = "100";
    private string inputBathUM = "100";

    private string outputMakeStock = "???";
    private string outputMakeAliquots = "???";
    private string outputSyringe = "???";
    private string outputBath = "???";

    private int aliquotImageCount = 0;
    private const string aliquotImageHTML = "<img src='aliquot.png' />";

    private void Calculate()
    {
        double massMG = double.Parse(inputMassMG);
        double mw = double.Parse(inputMW);
        double stockMM = double.Parse(inputStockMM);
        double bathUM = double.Parse(inputBathUM);
        string drugName = inputDrugName;

        var drug = new Drug(drugName, Mass.FromMilligrams(massMG), mw, inputSolvent);
        var stock = new StockConcentration(Concentration.MilliMol(stockMM));
        var bath = new BathConcentration(Concentration.MicroMol(bathUM));
        var plan = new AliquotPlan(drug, stock, bath);

        outputMakeStock = plan.InstructionToMakeStock;
        outputMakeAliquots = plan.InstructionToAliquotStock;
        outputSyringe = plan.InstructionSyringe;
        outputBath = plan.InstructionBath;
        aliquotImageCount = Math.Min(1000, (int)plan.AliquotCount);
    }

    protected override void OnInitialized()
    {
        Calculate();
    }
}
